// bower:scss
// endbower

@import "vendor";
@import "boostrap.overrides";

main {
  padding: 10%;
  opacity: .93;
  text-align: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: content-box;
}

.input-group {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (orientation: landscape) {
  pre {
    display: inline-block;
    width: 47%;
  }

  pre + pre {
    margin-left: 5%;
  }
}

time {
  width: 100%;
  height: 0; // otherwise height starts as auto and the first animation doesn't work
  position: absolute;
  bottom: 0;
  transition: height 99ms linear;
  background-color: $brand-primary;
}

pre {
  font-size: 400%;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}
