@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/variables";

main {
  padding: 10%;
  opacity: .93;
  text-align: center;
}
body {
  background-color: $brand-warning;
}
time {
  width: 100%;
  height: 0; // otherwise height starts as auto and the first animation doesn't work
  position: absolute;
  bottom: 0;
  transition: height 199ms linear;
  background-color: $brand-primary;
}
pre {
  font-size: 400%;
  font-weight: bold;
}

// injector
// endinjector
